services:
  - type: web
    name: aluminio-las-vegas
    env: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn config.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0
      - key: SECRET_KEY
        generateValue: true

databases:
  - name: aluminio_db
    plan: free